* {
    margin: 0;
    padding: 0;
}
body {
    background: #292929;
}
.slider {
    overflow: hidden;
    display: grid;
    max-width: 90%;
    margin: .5rem auto;
}
.slider-control {
    padding: 0.5rem;
}
.slider-control:active span {
    border-width: 0.25rem!important;
    transform: scale(1.45);
}
.slider-control span {
    display: block;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 50%;
    padding: 0.02rem;
    box-sizing: border-box;
    transition: 0.3s ease all;
}
.slider-control:hover span {
    background: none;
    border: 0.1rem solid blue;
}
.slider-items,
.slider-captions {
    color: #ffffff;
    display: flex;
    transition: 0.8s ease all;
}
.slider-item__caption, .slider-item__image {
    flex: 1 0 100%;
}
.slider-item__caption {
    padding: .5rem;
    font-size: 2.5vh;
    box-sizing: border-box;
}
.slider-controls {
background: #292929;
z-index: 1;
}
.slider-controls {
    display: flex;
    grid-area: controls;
}
.slider-items {
    grid-area: items;
}
.slider-captions {
    grid-area: captions;
}
#slide1:target ~ .slider .slider-items,
#slide1:target ~ .slider .slider-captions{
 transform: translate(0,0);
}
#slide1:target ~ .slider .slider-controls .slider-control:nth-child(1) span{
    background: blue;
}

#slide2:target ~ .slider .slider-items,
#slide2:target ~ .slider .slider-captions{
 transform: translate(-100%,0);
}
#slide2:target ~ .slider .slider-controls .slider-control:nth-child(2) span{
    background: blue;
}

#slide3:target ~ .slider .slider-items,
#slide3:target ~ .slider .slider-captions{
 transform: translate(-200%,0);
}
#slide3:target ~ .slider .slider-controls .slider-control:nth-child(3) span{
    background: blue;
}


#slide4:target ~ .slider .slider-items,
#slide4:target ~ .slider .slider-captions{
 transform: translate(-300%,0);
}
#slide4:target ~ .slider .slider-controls .slider-control:nth-child(4) span{
    background: blue;
}

@media (min-width: 320px) and (max-width: 768px) {
    .slider {
        grid-template-areas: "items"
        "controls"
        "captions";
    }
    .slider-controls {
        justify-content: center;
    }
}
@media (min-width: 768px) {
    .slider {
        grid-template-columns: 4fr 1fr;
        grid-template-areas: "items items"
        "captions controls";
    }
    .slider-controls {
        justify-content: flex-end;
    }
}

.slider-item__image {
    width: 100%;
    border-radius: .5rem;
    /* background: #fff; */
}
.slider-item__image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: .5rem;
    height: 100%;
}